# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db





Hi everyone,
I’m a MERN stack developer in Mohali earning ₹10k/month with a 1-year bond (Joined 1 May, 2025) . I’ve done BCA + MCA (5 years total), built and deployed multiple full-stack web apps, but didn’t get placed in college due to DSA rounds or coding rounds. — I genuinely dislike DSA.
Now I’m in a company with no real work or learning, there are no projects for now around 45 days. I’m self-learning Angular and DevOps to stay productive. But I’ve heard even after switching, salaries here don’t go beyond ₹25k/month with 1 year of experience.
Should I start DSA despite not liking it? Or are there other ways to grow (remote work, freelancing, open source)?
Any advice from folks who’ve been in a similar spot would really help. 🙏